git+https://github.com/pangeo-forge/pangeo-forge-recipes.git@dynamic-chunks-interface#egg=pangeo_forge_recipes
git+https://github.com/jbusecke/pangeo-forge-esgf.git@beam-refactor#egg=pangeo_forge_esgf
dynamic-chunks==0.0.1
