name: Catalog

on:
  pull_request:
    branches:
  push:
    branches:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
    validate:
        runs-on: ubuntu-latest
        defaults:
            run:
                shell: bash -l {0}
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v5
              with:
                  python-version: '3.10'
            - name: validate feedstock entry
              uses: leap-stc/data-catalog-actions/leap-catalog@main
              with:
                single-feedstock: "./feedstock/catalog.yaml"
